<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
Event Name: <%=event.event_name%><br>
details:<%=event.details%><br>
date: <%=event.date%><br>
time: <%=event.time%><br>
fee: <%=event.fee%><br>
team_size:<%=event.team_size%><br>
prize: <%=event.prize%><br>
rules: <%=event.rules%><br>
terms_conditions:<%=event.terms_conditions%><br>    
</body>
</html>